POSTGRES_DB=geoponto
POSTGRES_USER=geoponto_user
POSTGRES_PASSWORD=sua_senha_segura
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# CloudAMQP (RabbitMQ)
CLOUDAMQP_URL=amqps://mkasxbol:3MceMcwRVCi8ljy_kW-RqRfEGH2M2gGC@gorilla.lmq.cloudamqp.com/mkasxbol
